.btn-primary {
  background-color: #8450F3 !important;  /* Custom background color */
  border-color: #8450F3 !important;      /* Custom border color */
  border-radius: 50px !important;  /* Change border radius for all buttons */
  font-weight:500 !important;
}
