.btn-primary {
  background-color: #8450F3 !important;  /* Custom background color */
  border-color: #8450F3 !important;      /* Custom border color */
  border-radius: 50px !important;  /* Change border radius for all buttons */
  font-weight:500 !important;
}

.btn-secondary{
  background-color: white !important;
  border: 2px solid#8450F3 !important;
  color: black !important;
  border-radius: 30px !important;
}

.btn-tertiary{
  border-radius: 50px !important;  /* Change border radius for all buttons */
  font-weight:300 !important;
  background-color: #d9d990 !important;
  color: white !important;
}
