<div class="banner d-flex justify-content-center align-items-center" style= "height: 80vh; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/premium-photo/platform-product-showcase-dark-background-with-colorful-musical-note_152359-929.jpg);">
  <div class="text-center">
    <h1>RentMyTune</h1>
    <p>Monetize Your Melodies and Find the Perfect Track for Any Project</p>
    <a class="btn btn-flat btn-primary my-3" href="<%= user_signed_in? ? '/dashboard' : '/users/sign_up' %>">Start Listening</a>
  </div>
</div>

<div class="footer d-flex justify-content-center align-items-center">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
