.booking-alert{

    text-decoration: none;
    color: inherit;
    overflow: hidden;
    height: 40px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    position: relative;
    transition: opacity .3s ease;
    padding: 8px
}
