.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dashboard {
  margin-right: 20px;
}

.purple-dot {
  position: absolute;
  top: 4px;
  right: -1px;
  width: 8px;
  height: 8px;
  background-color: #8450F3;
  border-radius: 50%;
}
